<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleabout.css">
    <title>About Nina Simone</title>
</head>
<body>
    <nav>
        <ul class="edit-ul">
            <li class="nav-bar"> <a href="/home">Home</a> </li>
            <li class="nav-bar"> <a href="/about">About</a> </li>
            <li class="nav-bar"> <a href="/works">Works</a> </li>
        </ul>
    </nav>

    <article>
        <h1>About Nina Simone</h1>
        <div class="flex-text">
           <p class = "text">
            Eunice Kathleen Waymon (February 21, 1933 - April 21, 2003), known professionally as Nina Simone was an American singer, songwriter, pianist, and civil rights activist. Her music spanned styles including classical, folk, gospel, blues, jazz, R&B, and pop.
            The sixth of eight children born from a poor family in Tryon, North Carolina, Simone initially aspired to be a concert pianist. With the help of a few supporters in her hometown, she enrolled in the Juilliard School of Music in New York City. She then applied for a scholarship to study at the Curtis Institute of Music in Philadelphia, where, despite a well received audition, she was denied admission, which she attributed to racism. In 2003, just days before her death, the Institute awarded her an honorary degree.
            </p>
            <p class="text">
            To make a living, Simone started playing piano at a nightclub in Atlantic City. She changed her name to "Nina Simone" to disguise herself from family members, having chosen to play "the devil's music" or so-called "cocktail piano". She was told in the nightclub that she would have to sing to her own accompaniment, which effectively launched her career as a jazz vocalist. She went on to record more than 40 albums between 1958 and 1974, making her debut with Little Girl Blue. She had a hit single in the United States in 1958 with "I Loves You, Porgy". Her musical style fused gospel and pop with classical music, in particular Johann Sebastian Bach,[7] and accompanied expressive, jazz-like singing in her contralto voice.
            </p>
        </div>
        <div class="flex-img">
            <img class="photo-red" src="Nina_Simone_700.jpg" alt="ninaPhoto3">
        </div>
    </article>
    
    <footer>
        <div class="footer">
            <a href="https://open.spotify.com/artist/7G1GBhoKtEPnP86X2PvEYO?si=mIHjJ6qUQfqyoOXxuDrZqA" target="_blank"> <img src="spotify.png" alt="spotify-logo"> </a>
            <a href="https://twitter.com/NinaSimoneMusic" target="_blank"> <img src="twitter.png" alt="twitter-logo"> </a>
            <a href="https://www.instagram.com/ninasimone/" target="_blank"> <img src="instagram.webp" alt="instagram-logo"> </a>
        </div>
    </footer>
</body>
</html>
