<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylehome.css">
    <title>Nina Simone</title>
</head>
<body>
    <nav>
        <ul class="edit-ul">
            <li class="nav-bar"> <a href="/home">Home</a> </li>
            <li class="nav-bar"> <a href="/about">About</a> </li>
            <li class="nav-bar"> <a href="/works">Works</a> </li>
        </ul>
    </nav>


    <header>
    <h1>Nina Simone</h1>
    <div class="flexImg">
        <img class="imgNina" src="42a75e0-nina-simon.webp" alt="ns-hoto">
        <img class="imgNina" src="nina-scream.webp" alt="ns-photo2">
    </div>
    <div>
        <ul class="edit-ul">
            <li class="topics">Singer <hr> </li>
            
            <li class="topics">Songwritter <hr> </li>
            
            <li class="topics">Musical Arranger <hr> </li>
            
            <li class="topics">Civil Rights Activist <hr> </li>
        </ul>
    <div>
        <h2> <i>"I am a real rebel with a cause."</i> </h2>
    </div>
    <div class="flexImg">
        <img src="nina-gif.gif" alt="nina-gif">
    </div>
    </div>

    <footer>
        <div class="footer">
            <a href="https://open.spotify.com/artist/7G1GBhoKtEPnP86X2PvEYO?si=mIHjJ6qUQfqyoOXxuDrZqA" target="_blank"> <img src="spotify.png" alt="spotify-logo"> </a>
            <a href="https://twitter.com/NinaSimoneMusic" target="_blank"> <img src="twitter.png" alt="twitter-logo"> </a>
            <a href="https://www.instagram.com/ninasimone/" target="_blank"> <img src="instagram.webp" alt="instagram-logo"> </a>
        </div>
    </footer>

    </header>


</body>
</html>