<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleworks.css">
    <title>Works of Nina Simone</title>
</head>
<body>
    <nav>
        <ul class="edit-ul">
            <li class="nav-bar"> <a href="/home">Home</a> </li>
            <li class="nav-bar"> <a href="/about">About</a> </li>
            <li class="nav-bar"> <a href="/works">Works</a> </li>
        </ul>
    </nav>

    <h1>Albums</h1>
    <h2>Most Popular</h2>

    <article>
        <div class="album-flex">
            <img class="album-img-flex" src="album1.png" alt="album1">
            <div class="each-album">
                <h3>I Put A Spell On You</h3>
                <h4>1965</h4>
                <p>Richie Unterberger, do portal AllMusic, deu 3 estrelas 5 para o álbum, afirmando: "É um dos melhores álbuns pop, mas também um dos melhores e mais consistentes álbuns de Nina Simone.</p>
            </div>
            <div>
                <a href= "https://open.spotify.com/track/0sjxRg1VlYfx4YG7uxurrq?si=4bc759b1f3a0460e" target="_blank"> <img class="music-img-flex" src="play.png" alt="listen">  </a> 
            </div>
        </div>
        <div class="album-flex">
            <img class="album-img-flex" src="album2.jpg" alt="album2">
            <div class="each-album">
                <h3>Little Girl Blue</h3>
                <h4>1958</h4>
                <p>What a debut this must have been, as Nina Simone burst on to the scene with this disc! Recorded over 14 hours in a single day in New York in December 1957, the album was released in 1959 by Bethlehem Records and was an immediate success.</p>
            </div>
            <div>
                <a href= "https://open.spotify.com/album/58gOQaPc4RCw8eWdTDRes7?si=MZbB6mq3SEmwkSpUgQNs-A" target="_blank"> <img class="music-img-flex" src="play.png" alt="listen">  </a> 
            </div>
        </div>
        <div class="album-flex">
            <img class="album-img-flex" src="album3.jpeg" alt="album3">
            <div class="each-album">
                <h3>Silk & Soul</h3>
                <h4>1967</h4>
                <p>After moving from the blues to soul for her second RCA album, Nina Simone's extroverted, confident delivery proved a natural match with the ranks of soul shouters working the crowds during the late '60s.</p>
            </div>
            <div>
                <a href= "https://open.spotify.com/album/2miVfa78vOd0o8Vbsgd7g3?si=L1YiUTX4Tk63A9qPOGjiOA" target="_blank"> <img class="music-img-flex" src="play.png" alt="listen">  </a> 
            </div>
        </div>
    </article>

    <h2>Singles</h2>
    <article>
        <div class="album-flex">
            <img class="album-img-flex" src="feeling.jpeg" alt="music1">
            <div class="each-album">
                <h3>Feeling Good</h3>
                <h4>1965</h4>
                <p>A cantora americana Nina Simone regravou a canção em 1965 para o álbum I Put a Spell on You. A versão dela acabou se tornando a mais conhecida e também a que teve a maior quantidade de covers. Entre os artistas que regravaram a versão de Nina estão a banda inglesa Muse, o cantor britânico Ronan Parke, a americana Eels, e os cantores Michael Bublé e George Michael, entre outros.</p>
            </div>
            <div>
                <a href="https://open.spotify.com/track/6Rqn2GFlmvmV4w9Ala0I1e?si=bfffd2c849e9468b" target="_blank"> <img class="music-img-flex" src="play.png" alt="listen">  </a> 
            </div>
        </div>
        <div class="album-flex">
            <img class="album-img-flex" src="sinnerman.jpg" alt="music2">
            <div class="each-album">
                <h3>Sinnerman</h3>
                <h4>1965</h4>
                <p>"Sinner Man" or "Sinnerman" is an African American traditional spiritual song that has been recorded by a number of performers and has been incorporated in many other media and arts. The lyrics describe a sinner attempting to hide from divine justice on Judgment Day. It was recorded in the 1950s by Les Baxter, the Swan Silvertones, the Weavers and others, before Nina Simone recorded an extended version in 1965.</p>
            </div>
            <div>
                <a href="https://open.spotify.com/track/5xRP5iyVdGglqlY4Vcjhkx?si=ac8cfacfe8d84f48" target="_blank"> <img class="music-img-flex" src="play.png" alt="listen"> </a>
            </div>
        </div>
    </article>

    <footer>
        <div class="footer">
            <a href="https://open.spotify.com/artist/7G1GBhoKtEPnP86X2PvEYO?si=mIHjJ6qUQfqyoOXxuDrZqA" target="_blank"> <img src="spotify.png" alt="spotify-logo"> </a>
            <a href="https://twitter.com/NinaSimoneMusic" target="_blank"> <img src="twitter.png" alt="twitter-logo"> </a>
            <a href="https://www.instagram.com/ninasimone/" target="_blank"> <img src="instagram.webp" alt="instagram-logo"> </a>
        </div>
    </footer>
</body>
</html>